<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        td, th {
            min-width: 300px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Hi, {{profile.name}} {{profile.surname}}</h1>
    <p>Your order status is: <b>{{finalOrder.status}}</b></p>
    <p>Your order: </p>
    <table border="1" cellpadding="5">
        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Count</th>
            <th>Total</th>
        </tr>
        {{#each finalOrder}}
            <tr>
                <td>{{dish.title}}</td>
                <td>{{dish.price}}$</td>
                <td>{{count}}</td>
                <td>{{dish.total}}$</td>
            </tr>
        {{/each}}
        <tr>
            <td colspan="4">
                <b>Total price: {{totalPrice}}$</b>
            </tr>
        </tr>
    </table>
</body>
</html>